apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: ingress-allow-notsleep-to-httpbin
spec:
  podSelector:
    matchLabels:
      app: httpbin 
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: notsleep
